*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: var(--font-sans-serif);
    font-size: var(--b);
    background-color: var(--grey--5);
    color: var(--grey--1);
}

h1, h2, h3 {
    font-weight: 500;
}

h1, h2 {
    font-family: var(--font-serif);
    padding: 0 var(--space);
}

h1 {
    font-size: var(--h1);
}

h2 {
    margin-top: 4vh;
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
    font-family: var(--font-serif);
}

a {
    text-decoration: none;
    color: var(--grey--1);
}

main {
    padding-top: var(--space--xl);
}


main p {
    padding: 0 var(--space);
}

.listUnstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.noscroll,
.noscroll body {
  overflow: hidden;
}

.pageTitle {
    padding: 5% 0 7%;
    font: 500 var(--h1) var(--font-serif)
}

.intro {
    padding: 0%;
    margin: 10% 0 0;
}

.text__bold {
    font-weight: bold;
}

.text__legend {
    color: var(--grey--2);
    font-size: var(--st);
    text-align: center;
    margin-top: 1%;
}

.text__link {
    text-decoration: underline;
}

.text__quote {
    font-style: italic;
    text-align: center;
    margin: 0 var(--space);
}

.text__quoteAuthor {
    margin-top: 1%;
    
}

.page404__intro {
    margin: 0 var(--space);
    font-weight: 400;
    font-size: 1.25rem;
}


