.footer {
    background-color: var(--grey--1);
    color: var(--grey--5);
    padding: 0 var(--space);
    padding: 34px 34px;
    font-family: var(--font-sans-serif2);
    font-weight: 300;
    font-size: var(--st);
}

.footer__title,
.footer__sub-title,
.footer__link {
    font-family: var(--font-sans-serif2);
    font-weight: 300;
    font-size: var(--st);
    text-transform: uppercase ;
}

.footer__title {
    padding-bottom: var(--space--l);
}

.footer__contact {
    padding-bottom: var(--space--l);
    padding-top: var(--space--l);
}

.footer__sub-title {
    color: var(--grey--3);
}

.footer a {
    color: var(--grey--5);
}

.footer__list {
    display: flex;
    gap: var(--space--s);
    padding-bottom: var(--space--l);
}

.footer__mail,
.footer__mmi {
    text-decoration: underline;
}

.footer__mention {
    text-align: center;
}