.article {
    display: flex;
    transition: all 0.3s ease;
}

.article__title {
    display: flex;
    flex-direction:column;
    align-self:flex-end;
    text-align: center;
    font-weight: 500;
    padding-top: 40px;
    position: relative;
    z-index: -1;
}

.article__title::before,
.article__title::after {
    content: "";
    width: 0.40vw;
    height: 6.65vh;
    background: var(--grey--1);
    position: absolute;
    z-index: -1;
}

.article__title::before {
    top: 4.92vh;
    left: 5.3vw;
}

.article__title::after {
    top: 4.92vh;
    left: 94.13vw;
}

.article__img {
    width: 89%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;   
}

.resume__more {
    text-decoration: underline;
}

article:hover {
    transform: scale(1.1);
}