.gallery {
    margin: 0 var(--space);
}

.gallery__item {
    display: flex;
    margin-bottom: 15%;
    gap: 2%;
    margin-left: calc(0px - var(--space--s));
    margin-right: calc(0px - var(--space--s));
    position: relative;
}

.gallery__bio {
    margin: 0%;
    padding: 0%;
    font: lighter var(--st) var(--font-sans-serif2);
}

.gallery__img {
    flex: 1;
    max-width: 100%;
    padding-top: 3%;
    position: relative;
}

.gallery__text {
    flex: 2;
}

.gallery__figure {
    font-size: var(--b);
    margin: 6% 0 3%;
}

.gallery__img::before {
    content: "";
    width: 59vw;
    height: 1px;
    background-color: var(--grey--1);
    position: absolute;
    top: 7%;
    left: 106%;
}

.gallery__img::after {
    content: "";
    width: 59vw;
    height: 1px;
    background-color: var(--grey--1);
    position: absolute;
    left: 106%;
    top: 100%;
}




