.hero__header {
    height: 100vh;
    color: var(--grey--1);
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-size: var(--t);
    font-weight: 300;
    line-height: 5.19rem;
    padding-top: 4vh;
    text-align: center;
    margin-right: 0;
}

.hero__tagline {
    font-family: var(--font-serif);
    font-size: var(--h3);
    color: var(--design--1);
    font-weight: 600;
    text-align: center;
    position: relative;
    top: -32px;
}

.title__redLetter {
    color: var(--design--1);
}

.hero__repere {
    width: 56px;
    height: 26px;
    position: absolute;
    top: 793px;
    left: 159px;
    z-index: -1;
}

.hero__swipe {
    font-family: var(--font-sans-serif2);
    font-weight: lighter;
    font-size: var(--st);
    color: var(--grey--1);
    z-index: 0;
    position: absolute;
    top: 90vh;
    left: 46%;
}

.hero__line {
    width: 87.47px;
    height: 24.72px;
    z-index: 0;
    position: absolute;
    top: 93vh;
    left: 46%;
}

.hero__line::after, 
.hero__line::before {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--grey--1);
    position: absolute;
}

.hero__line::after {
    top: 0.875rem;
    left: -2.0625rem;
    transform: rotate(29.62deg);
}

.hero__line::before {
    top: 0.875rem;
    left: 0.6875rem;
    transform: rotate(-29.62deg);
}