
.menu {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  position: fixed;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-color: #ffd4c5;
  transition: all .4s ease-in-out;
  }

.menu--open {
  visibility: visible;
  opacity: 1;
}

.menu__list {
  margin: 10vh auto;
}

.menu__item {
  margin-top: 6vh;
}

.menu__sub-title {
  color: var(--grey--3);
}

.menu__item::after {
  content: "";
  background-color: var(--grey--1);
  width: 86vw;
  height: 1px;
  position: absolute;
}

.menu__item:nth-last-child(-n+2)::after {
  content: "";
  background-color: var(--grey--3);
  width: 75%;
}

.menu-btn {
  background: none;
  width: 35px;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  display: flex;
  align-items: center;
  position: relative;
  }
  
.menu-btn__bar,
.menu-btn__bar::before,
.menu-btn__bar::after {
  content:"";
  width: 100%;
  height: 2px;
  background-color: var(--grey--5);
  position: absolute;
  left: 0;
  transition: all .4s ease-in-out;
  }

.menu-btn__bar::before {
  top: -10px;
  }
  
.menu-btn__bar::after {
  top: 10px;
  }
  
.menu-btn--open .menu-btn__bar,
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(135deg);
  background-color: var(--grey--5);
  z-index: 3;
  }
  
.menu-btn--open .menu-btn__bar::before,
.menu-btn--open .menu-btn__bar::after {
  transform: rotate(90deg);
  top: 0;
  }

.menu__language {
  width: 32.53vw;
  height: 5.42vh;
  position: absolute;
  z-index: 10;
  top: 91.13vh;
  left: 33.6vw;
  border: 1px solid var(--grey--1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: 300 var(--h3) var(--font-serif);
  text-transform: uppercase;
}

.language__fr, 
.language__en {
  width: 16vw;
  height: 5.20vh;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 8%;
}

.language__fr{
  position: relative;
}

.language__fr::after {
  content: "";
  width: 1px;
  height: 5.25vh;
  background-color: var(--grey--1);
  position: absolute;
  top: 0px;
  left: 16vw;
}

.language__fr--activated,
.language__en--activated {
  background-color: var(--design--4);
}




