.otherProjects {
    margin: 0 var(--space);
}

.otherProjects__item:nth-child(1) {
    margin-top: 10%;
}

.otherProjects__item {
    position: relative;
}

.otherProjects__title {
    margin-left: 15%;
    margin-bottom: 18%;

}

.otherProjects__author {
    margin-left: 6%;
    position: absolute;
    top: 80%;
}

.otherProjects__visual {
    width: 9.3vw;
    height: 4.3vh;
    background-color: var(--design--3);
    position: absolute;
}

