.text__bold {
    font-weight: bold;
}

.text__legend {
    color: var(--grey--2);
    font-size: var(--b);
    text-align: center;
    margin-top: 1%;
}

.text__link {
    text-decoration: underline;
}

.text__quote {
    font-style: italic;
    text-align: center;
    margin: 0 var(--space);
}

.text__quoteAuthor {
    margin-top: 1%;
    
}

.text__subtitle {
    display: flex;
    position: relative;
    margin-right: 15vw;
}

.text__subtitle::after {
    content: "";
    width: 35px;
    height: 35px;
    background-color: var(--design--3);
    align-self: center;
    position: absolute;
    left: 84.53vw;
}